.lobby-header {
    height: 90px;
    display: flex;
    padding: 20px 20px 0px 20px;
}
.lobby-header_right {
    display: flex;
    flex: 10 auto;
    border-right: 1px solid var(--color-black);
    padding: 0px 3px;
}
.lobby-header_left {
    width: 150px;
}
.lobby-header_photo {
    border-radius: 7px;
    margin-right: 8px;
    overflow: hidden;
    box-shadow: 0px 1px 2px var(--color-black);
}
.lobby-header_name {
    text-decoration: underline;
    font-size: 30px;
    font-weight: 600;
}
.lobby-header_rank, .lobby-header_chips {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.lobby-header_rank-number {
    padding-top: 3px;
    font-size: 20px;
}
.lobby-header_rank-star {
    height: 20px;
    width: 20px;
    background-size: cover;
    background-position: center;
    margin-right: 3px;
}
.lobby-header_rank-star {
    background-image: url(../../assets/icons/star.svg);
}
.lobby-header_chips-icon {
    background-image: url(../../assets/icons/chip.svg);
}