.countdown {
    height: calc(var(--cell-size) * .45);
    font-size: calc(var(--cell-size) * .55);
    line-height: calc(var(--cell-size) * .5);
    text-align: start;
    position: absolute;
    font-weight: 400;
    display: flex;
    z-index: 1;
}
.countdown_player1, .countdown_player2 {
    align-items: flex-end;
}
.countdown_player3, .countdown_player4 {
    align-items: flex-start;
}
.countdown_player1 .countdown_timer,
.countdown_player2 .countdown_timer{
    line-height: 0.7;
}
.countdown_timer {
    height: fit-content;
}
.countdown_timer-icon::before {
    width: 20px;
    height: 20px;
    background-image: url(../../assets/icons/clock1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "  ";
    display: block;
}
.countdown_bottom-right {
    bottom: calc(var(--cell-size) * 1.4);
    right: calc(var(--cell-size) * 1.9);
}
.countdown_bottom-left {
    bottom: calc(var(--cell-size) * 1.4);
    left: calc(var(--cell-size) * 1.9);
}
.countdown_top-left {
    top: calc(var(--cell-size) * 1.4);
    left: calc(var(--cell-size) * 1.9);
}
.countdown_top-right {
    top: calc(var(--cell-size) * 1.4);
    right: calc(var(--cell-size) * 1.9);
}
