:root {
    --cell-size: 45px;
    --color-black: #272727;
}
.tables_list {
    width: 560px;
    height: 475px;
    /* border: 1px solid black; */
    position: absolute;
    top: 15px;
    left: 20px;
    overflow-y: scroll;
    padding: 15px 27px;
    background-color: rgba(255, 255, 255, 0.4);
}
.tables_container {
    position: relative;
    width: 100%;
    height: 480px;
}
.tables_table {
    width: calc(var(--cell-size) * 4);
    height: calc(var(--cell-size) * 2);
    border: solid 1px black;
    float: left;
    margin: calc(var(--cell-size) / 6);
}
.tables_player-names-container {
    width: 50%
}
.tables_row-header {
    font-weight: 600;
    font-size: large;
    font-size: 23px;    
}
.tables_row {
    font-weight: 600;
    font-size: 20px;
    margin: 3px auto;
    border-bottom: 3px solid bisque;
}
.tables_row > *, .tables_row-header > * {
    text-align: center;
}
.tables_row > * {
    background-color: tan;
}
.tables_bet {
    width: 90px;
}
.tables_rank {
    width: 90px;
    border-radius: 0px 5px 5px 0px;
}
.tables_players {
    width: 300px;
    padding-left: 3px;
    border-radius: 5px 0px 0px 5px;
}
.tables_players:not(.table_players-header) {
    display: flex;
    align-items: center;
}
.tables_player-icon {
    width: 40px;
    height: 40px;
    margin: 3px;
    box-shadow: 0px 1px 2px black;
    border-radius: 50%;
    overflow: hidden;
}
.tables_join-button {
    background: rgb(28, 184, 65);
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 5px 23px;
    margin: 0px 8px;
    background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 48%, rgba(255,255,255,0.3) 52%);
}
.table-join-icon {
    background-color: whitesmoke;
    background-image: url(../../assets/icons/more.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}