.player-info {
    width: calc(var(--cell-size) * 3.5);
    height: calc(var(--cell-size) * 1.3);
    border-radius: 3px;
    display: flex;
    background: linear-gradient(to bottom, #A57164 0%, #966255 100%);
    position: absolute;
    align-items: center;
    z-index: 2;
}
.player-info_img {
    border-radius: 2px;
    box-shadow: 0px 0px 3px grey;
    margin: 5px;
    height: 50px;
}
.player-info_bottom-right .player-info_img, 
.player-info_bottom-left .player-info_img {
    bottom: 5px;
} 
.player-info_top-left .player-info_img, 
.player-info_top-right .player-info_img {
    top: 5px;
}
.player-info_main {
    display: flex;
    flex-direction: column;
    flex: 10 auto;
    padding: 0px 5px;
}
.player-info_bottom-right .player-info_main,
.player-info_top-right .player-info_main {
    align-items: flex-start;
}
.player-info_bottom-left .player-info_main,
.player-info_top-left .player-info_main {
    align-items: flex-end;
}
.player-info_rank {
    display: flex;
    align-items: center;
    /* margin-top: -7px; */
}
.player-info_rank-star {
    background-image: url(../../assets/icons/star.svg);
    height: 20px;
    width: 20px;
    background-size: cover;
    color: gold;
    margin-right: 3px;
}
.player-info_chip-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid 1px black;
    border-radius: 50%;
    margin: 3px 5px 3px 3px;
}
.player-info_bottom-left .player-info_rank-star,
.player-info_top-left .player-info_rank-star {
    margin-right: 0px;
    margin-left: 3px;
}
.player-info_bottom-left .player-info_chip-icon,
.player-info_top-left .player-info_chip-icon {
    margin: 3px 3px 5px 3px;
}
.player-info_chip-icon_1 {
    background-color: red;
}
.player-info_chip-icon_2 {
    background-color: green;
}
.player-info_chip-icon_3 {
    background-color: blue;
}
.player-info_chip-icon_4 {
    background-color: yellow;
}
.player-info_name, .player-info_rank {
    font-size: 17px;
    display: flex;
}
.player-info_bottom-left .player-info_name,
.player-info_top-left .player-info_name,
.player-info_top-right .player-info_rank,
.player-info_bottom-right .player-info_rank,
.player-info_ready_bottom-right, .player-info_ready_top-right {
    flex-direction: row-reverse;
}

.player-info_rank-number {
    padding-top: 5px;
}
.player-info_bottom-right {
    bottom: 0;
    right: 0;
}
.player-info_bottom-left {
    bottom: 0;
    left: 0;
    flex-direction: row-reverse;
    text-align: end;
}
.player-info_top-left {
    top: 0;
    left: 0;
    flex-direction: row-reverse;
}
.player-info_top-right {
    top: 0;
    right: 0;
}
.player-info_ready {
    width: calc(var(--cell-size) * 2.4);
    height: calc(var(--cell-size) * 1); 
    position: absolute;
    line-height: calc(var(--cell-size) * 0.7);
    font-size: calc(var(--cell-size) * 0.45);
    font-weight: 100;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(to bottom, #CD9575 0%, #BE8666 100%);
    transition: all 0.2s ease-in-out;
    z-index: 1;
}
.player-info_ready_bottom-right {
    border-radius: 5px 5px 0px 0px;
    bottom: 0px;
    right: 0px;
}
.player-info_ready_bottom-left {
    border-radius: 5px 5px 0px 0px;
    bottom: 0px;
    left: 0px;
}
.player-info_ready_bottom-right.player-info_ready-active,
.player-info_ready_bottom-left.player-info_ready-active {
    bottom: calc(var(--cell-size) * 1.25);
}
.player-info_ready_top-left {
    border-radius: 0px 0px 5px 5px;
    left: 0px;
    top: 0px;
}
.player-info_ready_top-right {
    border-radius: 0px 0px 5px 5px;
    right: 0px;
    top: 0px;
}
.player-info_ready_top-left.player-info_ready-active,
.player-info_ready_top-right.player-info_ready-active {
    top: calc(var(--cell-size) * 1.25);
}
.player-info_fire::before {
    content: ' ';
    width: 30px;
    height: 30px;
    display: block;
    background-image: url(../../assets/icons/fire.svg);
}