.player-info {
    width: calc(var(--cell-size) * 3.5);
    height: calc(var(--cell-size) * 1.1);
    border-radius: 3px;
    display: flex;
    background-color: rgb(170, 170, 170);
    box-shadow: 0px 0px 3px grey;
    position: absolute;
    align-items: center;
    z-index: 1;
}
.player-info_img {
    border-radius: 2px;
    box-shadow: 0px 0px 3px grey;
    position: relative;
    bottom: 5px;
    margin: 5px;
    height: 50px;
}
.player-info_1 .player-info_img, 
.player-info_2 .player-info_img {
    bottom: 5px;
} 
.player-info_3 .player-info_img, 
.player-info_4 .player-info_img {
    top: 5px;
}
.player-info_main {
    display: flex;
    flex-direction: column;
    flex: 10 auto;
    padding: 5px;
}
.player-info_1 .player-info_main,
.player-info_4 .player-info_main {
    align-items: flex-start;
}
.player-info_2 .player-info_main,
.player-info_3 .player-info_main {
    align-items: flex-end;
}
.player-info_rank {
    display: flex;
    align-items: center;
    margin-top: -7px;
}
.player-info_rank-star {
    color: gold;
}
.player-info_chip-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid 1px black;
    border-radius: 50%;
    margin: 3px;
}
.player-info_chip-icon_1 {
    background-color: red;
}
.player-info_chip-icon_2 {
    background-color: green;
}
.player-info_chip-icon_3 {
    background-color: blue;
}
.player-info_chip-icon_4 {
    background-color: yellow;
}
.player-info_name, .player-info_rank {
    font-size: 19px;
    display: flex;
}
.player-info_2 .player-info_name,
.player-info_3 .player-info_name,
.player-info_2 .player-info_rank,
.player-info_3 .player-info_rank,
.player-info_ready_1, .player-info_ready_4 {
    flex-direction: row-reverse;
}

.player-info_rank-number {
    padding-top: 5px;
}
.player-info_1 {
    bottom: 0;
    right: 0;
}
.player-info_2 {
    bottom: 0;
    left: 0;
    flex-direction: row-reverse;
    text-align: end;
}
.player-info_3 {
    top: 0;
    left: 0;
    flex-direction: row-reverse;
}
.player-info_4 {
    top: 0;
    right: 0;
}
.player-info_ready {
    width: calc(var(--cell-size) * 2.4);
    height: calc(var(--cell-size) * 1); 
    position: absolute;
    line-height: calc(var(--cell-size) * 0.7);
    font-size: calc(var(--cell-size) * 0.45);
    font-weight: 100;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(210, 210, 210);
    transition: all 0.2s ease-in-out;
}
.player-info_ready_1 {
    border-radius: 5px 5px 0px 0px;
    bottom: 0px;
    right: 0px;
}
.player-info_ready_1.player-info_ready-active {
    bottom: calc(var(--cell-size) * 1.1);
}
.player-info_ready_2 {
    border-radius: 5px 5px 0px 0px;
    bottom: 0px;
    left: 0px;
}
.player-info_ready_2.player-info_ready-active {
    bottom: calc(var(--cell-size) * 1.1);
}
.player-info_ready_3 {
    border-radius: 0px 0px 5px 5px;
    left: 0px;
    top: 0px;
}
.player-info_ready_3.player-info_ready-active {
    top: calc(var(--cell-size) * 1.1);
}
.player-info_ready_4 {
    border-radius: 0px 0px 5px 5px;
    right: 0px;
    top: 0px;
}
.player-info_ready_4.player-info_ready-active {
    top: calc(var(--cell-size) * 1.1);
}
.player-info_fire::before {
    content: ' ';
    width: 30px;
    height: 30px;
    display: block;
    background-image: url(../../assets/icons/fire.svg);
}