:root {
    --cell-size: 45px;
    --color-black: #272727;
}
.game_cell::after {
    content: attr(data-number);
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: calc(var(--cell-size) / 1.5);
    line-height: 45px;
    height: 100%;
    font-family: initial;
}
.game_board {
    position: relative;
    width: calc(var(--cell-size) * 13);
    height: calc(var(--cell-size) * 13);
}
.game_container {
    position: relative;
}
.game_container-player2 .game_board, .chip {
    transform: rotate(270deg);
}
.game_container-player3 .game_board {
    transform: rotate(180deg);
}
.game_container-player4 .game_board {
    transform: rotate(90deg);
}
.game_container-player2 .game_cell-start::after, 
.game_container-player2 .game_cell::after,
.game_container-player2 .game_chip {
    transform: rotate(90deg);
}
.game_container-player3 .game_cell-start::after, 
.game_container-player3 .game_cell::after,
.game_container-player3 .game_chip {
    transform: rotate(180deg);
}
.game_container-player4 .game_cell-start::after, 
.game_container-player4 .game_cell::after,
.game_container-player4 .game_chip {
    transform: rotate(270deg);
}
.game_container-player2 .game_cell-start::after {
    right: 15px;
    bottom: 0px;
}
.game_container-player3 .game_cell-start::after {
    right: 0px;
    bottom: 15px;
}
.game_container-player4 .game_cell-start::after {
    right: -14px;
    bottom: 0px;
}
.game_space {
    height: var(--cell-size);
    float: left;
    border: 0px solid black;
}
.game_space1 {
    width: calc(var(--cell-size) * 1);
}
.game_space2 {
    width: calc(var(--cell-size) * 2);
}
.game_space3 {
    width: calc(var(--cell-size) * 3);
}
.game_space4 {
    width: calc(var(--cell-size) * 4);
}
.game_space5 {
    width: calc(var(--cell-size) * 5);
}
.game_cell {
    position: relative;
    float: left;
    width: var(--cell-size);
    height: var(--cell-size);
    border: solid var(--color-black);
    border-width: 1px 0px 0px 1px;
    background: linear-gradient(to bottom, #FFE4C4 0%, #F0D5B5 100%);
    overflow: hidden;
}
.game_container-player2 .game_cell {
    background: linear-gradient(to left, #FFE4C4 0%, #F0D5B5 100%);
}
.game_container-player3 .game_cell {
    background: linear-gradient(to top, #FFE4C4 0%, #F0D5B5 100%);
}
.game_container-player4 .game_cell {
    background: linear-gradient(to right, #FFE4C4 0%, #F0D5B5 100%);
}
.game_cell-start {
    background: linear-gradient(to bottom, #8DB600 0%, #7EA700 100%);
}
.game_container-player2 .game_cell-start {
    background: linear-gradient(to left, #8DB600 0%, #7EA700 100%);
}
.game_container-player3 .game_cell-start {
    background: linear-gradient(to top, #8DB600 0%, #7EA700 100%);
}
.game_container-player4 .game_cell-start {
    background: linear-gradient(to right, #8DB600 0%, #7EA700 100%);
}
.game_cell-start::after {
    content: attr(data-charged-chips);
    position: absolute;
    bottom: -14px;
    right: -1px;
    font-weight: 600;
    width: 100%;
    text-align: end;
    font-size: inherit;
}
.game_cell-safe-house {
    background: linear-gradient(to bottom, #7CB9E8 0%, #6DAAD9 100%);
}
.game_container-player2 .game_cell-safe-house {
    background: linear-gradient(to left, #7CB9E8 0%, #6DAAD9 100%);
}
.game_container-player3 .game_cell-safe-house {
    background: linear-gradient(to top, #7CB9E8 0%, #6DAAD9 100%);
}
.game_container-player4 .game_cell-safe-house {
    background: linear-gradient(to right, #7CB9E8 0%, #6DAAD9 100%);
}
.game_cell-finish {
    border: 0px solid black;
    background: -webkit-linear-gradient(top, #EFDECD 0%, #E0CFBE 100%);
}
.game_container-player2 .game_cell-finish {
    background: -webkit-linear-gradient(right, #EFDECD 0%, #E0CFBE 100%);
}
.game_container-player3 .game_cell-finish {
    background: -webkit-linear-gradient(bottom, #EFDECD 0%, #E0CFBE 100%);
}
.game_container-player4 .game_cell-finish {
    background: -webkit-linear-gradient(left, #EFDECD 0%, #E0CFBE 100%);
}
.arrow::before {
    background-repeat: no-repeat;
    background-size: cover;
    content: ' ';
    display: block;
    position: absolute;
    width: 70%;
    height: 70%;
    top: 7px;
    left: 7px;
}
.arrows-crossing::before {
    background-image: url(../../assets/icons/move.svg);
    transform: rotate(45deg);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.arrow-right::before {
    background-image: url(../../assets/icons/arrow.svg);
}
.arrow-down::before {
    background-image: url(../../assets/icons/arrow.svg);
    transform: rotate(90deg);
}
.arrow-left::before {
    background-image: url(../../assets/icons/arrow.svg);
    transform: rotate(180deg);
}
.arrow-up::before {
    background-image: url(../../assets/icons/arrow.svg);
    transform: rotate(270deg);
}
.game_arrow-body {
    position: absolute;
}
.game_arrow-body_player1 {
    top: calc(var(--cell-size) * 8);
    left: calc(var(--cell-size) * 8);
    width: calc(var(--cell-size) * 2.5);
    height: calc(var(--cell-size) * 3.5);
    border-right: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
    border-radius: 0px 0px 100px 0px;
}
.game_arrow-body_player2 {
    top: calc(var(--cell-size) * 8);
    left: calc(var(--cell-size) * 1.5);
    width: calc(var(--cell-size) * 3.5);
    height: calc(var(--cell-size) * 2.5);
    border-left: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
    border-radius: 0px 0px 0px 100px;    
}
.game_arrow-body_player3 {
    top: calc(var(--cell-size) * 1.5);
    left: calc(var(--cell-size) * 2.5);
    width: calc(var(--cell-size) * 2.5);
    height: calc(var(--cell-size) * 3.5);
    border-left: 1px solid var(--color-black);
    border-top: 1px solid var(--color-black);
    border-radius: 100px 0px 0px 0px;
}
.game_arrow-body_player4 {    top: calc(var(--cell-size) * 8);
    top: calc(var(--cell-size) * 2.5);
    left: calc(var(--cell-size) * 8);
    width: calc(var(--cell-size) * 3.5);
    height: calc(var(--cell-size) * 2.5);
    border-right: 1px solid var(--color-black);
    border-top: 1px solid var(--color-black);
    border-radius: 0px 100px 0px 0px;  
}
.game_arrow-end {
    width: 0px;
    height: 0px;
    position: absolute;
    border: solid calc(var(--cell-size) * 0.2) transparent;
}
.game_arrow-end_player1 {
    border-top-color: var(--color-black);
    border-top-width: calc(var(--cell-size) * 0.5);
    left: calc(var(--cell-size) * 10.3);
    bottom: calc(var(--cell-size) * 4.5);
    transform: rotate(180deg);
}
.game_arrow-end_player2 {
    border-top-color: var(--color-black);
    border-top-width: calc(var(--cell-size) * 0.5);
    left: calc(var(--cell-size) * 4.65);
    bottom: calc(var(--cell-size) * 2.15);
    transform: rotate(270deg);
}
.game_arrow-end_player3 {
    border-top-color: var(--color-black);
    border-top-width: calc(var(--cell-size) * 0.5);
    left: calc(var(--cell-size) * 2.3);
    top: calc(var(--cell-size) * 4.5);
}
.game_arrow-end_player4 {
    border-top-color: var(--color-black);
    border-top-width: calc(var(--cell-size) * 0.5);
    left: calc(var(--cell-size) * 7.95);
    top: calc(var(--cell-size) * 2.15);
    transform: rotate(90deg);
}

.game_chip-base {
    position: absolute;
    width: calc(var(--cell-size) * 2);
    height: calc(var(--cell-size) * 2);
    border: solid var(--color-black) 1px;
    border-radius: calc(var(--cell-size) * .5);
    background: linear-gradient(to bottom, #F0F8FF 0%, #E1E9F0 100%);
}
.game_chip-base_player1 {
    top: calc(var(--cell-size) * 8.2);
    left: calc(var(--cell-size) * 8.2);
}
.game_chip-base_player2 {
    top: calc(var(--cell-size) * 8.2);
    right: calc(var(--cell-size) * 8.2);
}
.game_chip-base_player3 {
    bottom: calc(var(--cell-size) * 8.2);
    right: calc(var(--cell-size) * 8.2);
}
.game_chip-base_player4 {
    bottom: calc(var(--cell-size) * 8.2);
    left: calc(var(--cell-size) * 8.2);
}
.game_chip-base_chip-space {
    width: calc(var(--cell-size) * .8 - 1px);    
    height: calc(var(--cell-size) * .8 - 1px);
    margin: calc(var(--cell-size) * .1);
    position: absolute;
}
#game_chip-base_chip-space_player1_num1,
#game_chip-base_chip-space_player2_num1,
#game_chip-base_chip-space_player3_num1,
#game_chip-base_chip-space_player4_num1 {
    top: 0;
    left: 0;
}
#game_chip-base_chip-space_player1_num2,
#game_chip-base_chip-space_player2_num2,
#game_chip-base_chip-space_player3_num2,
#game_chip-base_chip-space_player4_num2 {
    top: 0;
    left: calc(var(--cell-size) - 1px);    
}
#game_chip-base_chip-space_player1_num3,
#game_chip-base_chip-space_player2_num3,
#game_chip-base_chip-space_player3_num3,
#game_chip-base_chip-space_player4_num3 {
    top: calc(var(--cell-size) - 1px);   
    left: 0;
}
#game_chip-base_chip-space_player1_num4,
#game_chip-base_chip-space_player2_num4,
#game_chip-base_chip-space_player3_num4,
#game_chip-base_chip-space_player4_num4 {
    top: calc(var(--cell-size) - 1px);   
    left: calc(var(--cell-size) - 1px);   
}
.game_chip {
    width: calc(var(--cell-size) * .8 - 1px);    
    height: calc(var(--cell-size) * .8 - 1px);
    border: 1px solid;
    border-radius: var(--cell-size);
    float: left;
    position: absolute;
    transition: all 0.2s ease-in-out;
    top: 0px;
    left: 0px;
}
.game_chip_player1 {
    background-color: red;
}
.game_chip_player2 {
    background-color: green;
}
.game_chip_player3 {
    background-color: rgb(30, 90, 255);
}
.game_chip_player4 {
    background-color: yellow;
}
.game_chip_can-move {
    box-shadow: 0px 0px 1px 2px;
}
.game_chip_can-move_hoverable:hover {
    box-shadow:  0px 0px 5px 5px red;
}
.game_cell-move {
    background: linear-gradient(to bottom, #9966CC 0%, #8A57BD 100%);
}
.game_container-player2 .game_cell-move {
    background: linear-gradient(to left, #9966CC 0%, #8A57BD 100%);
}
.game_container-player3 .game_cell-move {
    background: linear-gradient(to top, #9966CC 0%, #8A57BD 100%);
}
.game_container-player4 .game_cell-move {
    background: linear-gradient(to right, #9966CC 0%, #8A57BD 100%);
}
.game_chip-selected {
    box-shadow:  0px 0px 4px 4px red;
}
.game_chip-can-be-eaten {
    box-shadow:  0px 0px 4px 4px orange;
}
.game_chip-can-be-eaten:hover {
    box-shadow:  0px 0px 5px 5px orange;
}
#game_chip_player1_num1 {
    top: calc(var(--cell-size) * 8.3 + 1px);
    left: calc(var(--cell-size) * 8.3 + 1px)
}
#game_chip_player1_num2 {
    top: calc(var(--cell-size) * 8.3 + 1px);
    left: calc(var(--cell-size) * 9.3)
}
#game_chip_player1_num3 {
    top: calc(var(--cell-size) * 9.3 );
    left: calc(var(--cell-size) * 8.3 + 1px)
}
#game_chip_player1_num4 {
    top: calc(var(--cell-size) * 9.3);
    left: calc(var(--cell-size) * 9.3)
}
#game_chip_player2_num1 {
    top: calc(var(--cell-size) * 8.3 + 1px);
    left: calc(var(--cell-size) * 2.9 + 1px)
}
#game_chip_player2_num2 {
    top: calc(var(--cell-size) * 8.3 + 1px);
    left: calc(var(--cell-size) * 3.9)
}
#game_chip_player2_num3 {
    top: calc(var(--cell-size) * 9.3 );
    left: calc(var(--cell-size) * 2.9 + 1px)
}
#game_chip_player2_num4 {
    top: calc(var(--cell-size) * 9.3);
    left: calc(var(--cell-size) * 3.9)
}
#game_chip_player3_num1 {
    top: calc(var(--cell-size) * 2.9 + 1px);
    left: calc(var(--cell-size) * 2.9 + 1px)
}
#game_chip_player3_num2 {
    top: calc(var(--cell-size) * 2.9 + 1px);
    left: calc(var(--cell-size) * 3.9)
}
#game_chip_player3_num3 {
    top: calc(var(--cell-size) * 3.9 );
    left: calc(var(--cell-size) * 2.9 + 1px)
}
#game_chip_player3_num4 {
    top: calc(var(--cell-size) * 3.9);
    left: calc(var(--cell-size) * 3.9)
}
#game_chip_player4_num1 {
    top: calc(var(--cell-size) * 2.9 + 1px);
    left: calc(var(--cell-size) * 8.3 + 1px)
}
#game_chip_player4_num2 {
    top: calc(var(--cell-size) * 2.9 + 1px);
    left: calc(var(--cell-size) * 9.3)
}
#game_chip_player4_num3 {
    top: calc(var(--cell-size) * 3.9 );
    left: calc(var(--cell-size) * 8.3 + 1px);
}
#game_chip_player4_num4 {
    top: calc(var(--cell-size) * 3.9);
    left: calc(var(--cell-size) * 9.3);
}
.game_chip-to-be-selected {
    box-shadow:  0px 0px 5px 5px green;
}
.game_chip-shield::after {
    content: ' ';
    display: block;
    width: calc(var(--cell-size) * 0.4);
    height: calc(var(--cell-size) * 0.4);
    top: 7px;
    left: 0px;
    background-image: url(../../assets/icons/shield.svg);
    background-repeat: no-repeat;
    position: absolute;
}
.game_chip-flight::after {
    content: ' ';
    display: block;
    width: calc(var(--cell-size) * 0.4);
    height: calc(var(--cell-size) * 0.4);
    background-repeat: no-repeat;
    top: 7px;
    right: 0px;
    background-image: url(../../assets/icons/flight-white.svg);
    position: absolute;
}