
.app-header{
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.1);
    display: flex;
}
.app-header_left {
    padding-left: 30px;
}
.app-header_btn-wrapper {
    border-radius: 7px;
    height: 35px;
    box-shadow: 0px 0px 2px;
    margin: 3px;
    background: linear-gradient(to bottom, #E9D66B 0%, #DAC75C 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E9D66B), color-stop(100%, #DAC75C));
    background: -webkit-linear-gradient(top, #E9D66B 0%, #DAC75C 100%);
    background: -moz-linear-gradient(top, #E9D66B 0%, #DAC75C 100%);
    background: -o-linear-gradient(top, #E9D66B 0%, #DAC75C 100%);
    background: -ms-linear-gradient(top, #E9D66B 0%, #DAC75C 100%);
    max-width: 250px;
    transition: max-width .5s linear;
    overflow: hidden;
}
.app-header_btn-wrapper:hover {
    background: linear-gradient(to bottom, #FDEE00 0%, #EEDF00 100%);
}
.app-header_btn-wrapper-hidden {
    max-width: 0px;
}
.app-header_btn {
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    margin: 3px 10px;
}
.app-header_leave-btn {
    min-width: 30px;
    background-image: url(../../assets/icons/leave.svg);
}
.app-header_shop-btn {
    background-image: url(../../assets/icons/shop.svg);
}
.app-header_dice-btn {
    background-image: url(../../assets/icons/dice.svg);
}
.app-header_records-btn {
    background-image: url(../../assets/icons/records.svg);
}
.app-header_music-btn {
    background-image: url(../../assets/icons/music.svg);
}
.app-header_question {
    background-image: url(../../assets/icons/question.svg);
}
.app-header_sound-btn {
    background-image: url(../../assets/icons/speaker.svg);
}
.app-header_mute-btn {
    background-image: url(../../assets/icons/mute.svg);
}
.app-header_chips, .app-header_money {
    height: 100%;
}
.app-header_btn-lottery-sign {
    position: absolute;
    width: 8px;
    top: 5px;
    right: 703px;
    height: 9px;
    background: #da0000;
    border-radius: 90px;
}
.app-header_chips::before,
.app-header_money::before,
.app-header_star::before {
    margin: 3px 5px;
    width: 25px;
    height: 25px;
    display: block;
    background-position: center;
    background-size: cover;
    content: '  ';
    background-image: url(../../assets/icons/chip.svg);
}
.app-header_chips::before{
    box-shadow: 1px 1px 3px;
    border-radius: 50px;
}

.app-header_star::before {
    background-image: url(../../assets/icons/star.svg);
}
.app-header_money::before {
    box-shadow: 1px 1px 3px;
    border-radius: 50px;
    background-image: url(../../assets/icons/coin.svg);
}

.app-header_money-number, .app-header_chips-number {
    font-size: 25px;
    position: relative;
    top: 2px;
}
.app-header_chips-add, .app-header_money-add {
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    margin: 4px 7px;
    background-image: url(../../assets/icons/more.svg);
}
